target
python/.venv
python/**/__pycache__
python/*.egg-info
python/**/*.egg-info
scripts/.venv
scripts/**/__pycache__
scripts/*.egg-info
python/.models/
assets/stories/neel_university/*.wav
assets/stories/neel_university/*.m4a
